#cardLabel{
    display:block;
    font-size:10em;
    text-align:center;
}

#drawnCard{
    display:block;
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#buttonContainer{
    text-align: center;
    margin-top: 20px;
}

.button{
    font-size: 1.5em;
    margin:10px;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
}