#wrapper{
    border: solid red;
}

#cardLabel{
    display:block;
    font-size:10em;
    text-align:center;
}

#drawnCard{
    display:block;
    border-radius: 10px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#buttonContainer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#drawnCardsContainer{
    display: block;
    text-align: center;
}

#cardHistory{
    display:block;
    text-align: left;
    border-bottom: solid black;
}

#drawnCardsList{
    display: block;
    text-align:left;
    list-style-type: none;
}

.button{
    font-size: 1.5em;
    margin:10px;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
}