*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: light grey;
}

#wrapper{
    height: 100vh;
    width: 100%;
}

#cardLabel{
    display:block;
    font-size:10em;
    text-align:center;
}

#drawnCard{
    display:flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin:20px;
    border: solid blue;
}

#buttonContainer{
    text-align: center;
    margin: 20px;
    border: solid green;
}

#initiativeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    border: solid purple;
}

#drawnCardsContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#cardHistoryTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: thin solid black;
}

#cardHistory{
    display:flex;
    width:100%;
    justify-content: center;
    text-align: left;

}

#combatantsList{
    display:flex;
    flex-direction: column;
    text-align: center;
}

#combatants{
    margin-bottom: 10px;
    border-bottom: thin solid black;
}

#listedCombatants{
    list-style-type: none;
}

#combatantSubmit{
    display:flex;
    justify-content: center;
    margin-right:10px;
}

#drawnCardsList{
    display: block;
    text-align:left;
    list-style-type: none;
}

.button{
    font-size: 1.5em;
    margin:10px;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
}